body {background-color: #964B00;
}
h1   {color: #FF3131;
      text-align:center;
}
h3   {color:  #FA8072;
      text-align:center;
}
#bekezdés{
	background-color: white;
	color: black;
	text-align:center;
}